@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bgColor: #e3e4f1;
  --textColor: #333333;
  --bgContent: #ffffff;
}

html.dark {
  --bgColor: #171823;
  --textColor: #ffffff;
  --bgContent: #393a4b;
}
